
body {
    background-color: hotpink;
}

#ec {
    --ec-bg-color: #fe00ae;
    --ec-text-color: #3d10df;
  }

  h1 {
    margin-bottom: 1.5rem;
  }

  /* .ec {
    --ec-bg-color: #22272e;
    --ec-text-color: #adbac7;
  } */